aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
annotated-types==0.7.0
asn1crypto==1.5.1
attrs==25.3.0
base58==2.1.1
bitarray==3.4.2
black==25.1.0
blake2b-py==0.3.2
cached-property==1.5.2
cbor2==5.6.5
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
ckzg==2.1.1
click==8.2.1
coincurve==20.0.0
coloredlogs==15.0.1
configparser==7.2.0
contourpy==1.3.2
coverage==6.5.0
crcmod==1.7
cycler==0.12.1
cytoolz==1.0.1
dictionaries==0.0.2
distlib==0.3.9
ecdsa==0.19.1
ed25519-blake2b==1.4.1
eth-account==0.13.7
eth-bloom==1.0.4
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
ethereum_input_decoder==0.2.2
filelock==3.18.0
fonttools==4.58.1
frozenlist==1.6.2
hdwallet==3.4.0
hexbytes==1.3.1
humanfriendly==10.0
identify==2.6.12
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
lru-dict==1.3.0
MarkupSafe==2.0.1
matplotlib==3.10.3
mnemonic==0.21
mock==5.2.0
multidict==6.4.4
mypy_extensions==0.4.4
nodeenv==1.9.1
numpy==2.2.6
packaging==25.0
parsimonious==0.10.0
pathspec==0.12.1
persistent==6.1.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pre-commit==2.20.0
propcache==0.3.1
py-ecc==1.4.7
py-evm==0.7.0a1
py-flags==1.1.4
py-solc==3.2.0
py-solc-x==1.1.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
pyethash==0.1.27
Pygments==2.19.1
PyNaCl==1.5.0
pyparsing==2.4.7
pytest==8.4.0
pytest-cov==5.0.0
pytest-mock==3.14.1
python-dateutil==2.9.0.post0
pyunormalize==16.0.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rlp==4.1.0
scikit-learn==1.6.1
scipy==1.15.3
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
sortedcontainers==2.4.0
threadpoolctl==3.6.0
toml==0.10.2
toolz==1.0.0
transaction==5.0
trie==2.2.0
types-requests==2.32.0.20250602
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.4.0
virtualenv==20.31.2
web3==7.12.0
websockets==15.0.1
yarl==1.20.0
z3-solver==4.12.5.0
zope.deferredimport==5.0
zope.interface==7.2
zope.proxy==6.1
